## - Exercici 1
Agafa un conjunt de dades de tema esportiu que t'agradi. Realitza un mostreig de les dades generant una mostra aleatòria simple i una mostra sistemàtica.

In [3]:
from openpyxl import load_workbook
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(pd.read_excel('Kaggle_Sirio_Libanes_ICU_Prediction.xlsx'))
df.head()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,AGE_PERCENTIL,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,...,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,WINDOW,ICU
0,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,0
1,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2-4,0
2,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4-6,0
3,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,NaN,NaN,NaN,NaN,-1.000000,-1.000000,6-12,0
4,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-0.238095,-0.818182,-0.389967,0.407558,-0.230462,0.096774,-0.242282,-0.814433,ABOVE_12,1

In [5]:
df.shape

(1925, 231)

In [6]:
df.describe(include='object')

       AGE_PERCENTIL WINDOW
count           1925   1925
unique            10      5
top             20th    0-2
freq             215    385

In [7]:
#Numerical Features
cols = df.columns
num_cols = df._get_numeric_data().columns
num_cols

Index(['PATIENT_VISIT_IDENTIFIER', 'AGE_ABOVE65', 'GENDER',
       'DISEASE GROUPING 1', 'DISEASE GROUPING 2', 'DISEASE GROUPING 3',
       'DISEASE GROUPING 4', 'DISEASE GROUPING 5', 'DISEASE GROUPING 6', 'HTN',
       ...
       'RESPIRATORY_RATE_DIFF', 'TEMPERATURE_DIFF', 'OXYGEN_SATURATION_DIFF',
       'BLOODPRESSURE_DIASTOLIC_DIFF_REL', 'BLOODPRESSURE_SISTOLIC_DIFF_REL',
       'HEART_RATE_DIFF_REL', 'RESPIRATORY_RATE_DIFF_REL',
       'TEMPERATURE_DIFF_REL', 'OXYGEN_SATURATION_DIFF_REL', 'ICU'],
      dtype='object', length=229)

In [8]:
df.dtypes

PATIENT_VISIT_IDENTIFIER        int64
AGE_ABOVE65                     int64
AGE_PERCENTIL                  object
GENDER                          int64
DISEASE GROUPING 1            float64
                               ...
RESPIRATORY_RATE_DIFF_REL     float64
TEMPERATURE_DIFF_REL          float64
OXYGEN_SATURATION_DIFF_REL    float64
WINDOW                         object
ICU                             int64
Length: 231, dtype: object

### Probability Sampling

Casos en los que todas las unidades de una población dada tienen la misma probabilidad de ser seleccionadas. Esta técnica incluye muestreo aleatorio simple, muestreo sistemático, muestreo por conglomerados y muestreo aleatorio estratificado.

#### muestreo aleatorio simple

El método de muestreo aleatorio simple selecciona muestras aleatorias de un proceso o población donde cada unidad tiene la misma probabilidad de ser seleccionada. Este es el método más directo de muestreo probabilístico.

In [9]:
simple_random_sample = df.sample(n=100).sort_values(by='PATIENT_VISIT_IDENTIFIER')

# Save the sample mean in a separate variable
simple_random_mean = round(simple_random_sample['TEMPERATURE_DIFF'].mean(),3)

# View sampled data frame
simple_random_sample

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,AGE_PERCENTIL,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,...,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,WINDOW,ICU
8,1,1,90th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.880952,-1.000000,-0.906832,-0.831132,-0.940967,-0.817204,-0.882574,-1.000000,6-12,1
18,3,0,40th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,6-12,0
37,7,0,20th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4-6,0
44,8,0,50th,0,1.0,0.0,0.0,0.0,0.0,0.0,...,-0.238095,-0.898990,-0.701863,-0.571690,-0.719780,-0.741935,-0.240194,-0.898004,ABOVE_12,0
74,14,1,60th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.357143,-0.515152,-0.141655,0.266508,-0.335878,0.316129,-0.362427,-0.515572,ABOVE_12,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1801,360,1,70th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2-4,0
1854,370,0,50th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.976190,-0.979798,-0.597516,-0.345638,-0.787980,-0.756272,-0.976058,-0.980026,ABOVE_12,0
1871,374,0,40th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2-4,0
1899,379,1,Above 90th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.333333,-0.616162,0.101449,0.788591,-0.576930,0.096774,-0.342416,-0.612415,ABOVE_12,1
1914,382,0,50th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.500000,-0.838384,-0.513996,-0.236377,-0.617378,-0.191851,-0.498615,-0.835052,ABOVE_12,1

## muestreo sistemático
El método de muestreo sistemático selecciona unidades en función de un intervalo de muestreo fijo (es decir, cada n-ésima unidad se selecciona de un proceso o población determinados). Este método de muestreo tiende a ser más eficaz que el método de muestreo aleatorio simple.

In [10]:
def systematic_sampling(df, step):
    
    indexes = np.arange(0,len(df),step=step)
    systematic_sample = df.iloc[indexes]
    return systematic_sample
    
# Obtain a systematic sample and save it in a new variable
systematic_sample = systematic_sampling(df, 3)

# Save the sample mean in a separate variable
systematic_mean = round(systematic_sample['TEMPERATURE_DIFF'].mean(),3)

# View sampled data frame
systematic_sample

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,AGE_PERCENTIL,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,...,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,WINDOW,ICU
0,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,0
3,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,NaN,NaN,NaN,NaN,-1.000000,-1.000000,6-12,0
6,1,1,90th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2-4,1
9,1,1,90th,1,0.0,0.0,0.0,0.0,1.0,0.0,...,0.142857,-0.797980,0.315690,0.200359,-0.239515,0.645161,0.139709,-0.802317,ABOVE_12,1
12,2,0,10th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,-0.959596,-0.515528,-0.351328,-0.747001,-0.756272,NaN,-0.961262,4-6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1911,382,0,50th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2-4,0
1914,382,0,50th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.500000,-0.838384,-0.513996,-0.236377,-0.617378,-0.191851,-0.498615,-0.835052,ABOVE_12,1
1917,383,0,40th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,4-6,0
1920,384,0,50th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,0
1923,384,0,50th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,6-12,0

#### muestreo por conglomerados
El método de muestreo por conglomerados divide la población en conglomerados de igual tamaño n y selecciona conglomerados cada T-ésima vez.

In [11]:
def cluster_sampling(df, number_of_clusters):
    
    try:
        # Divide the units into cluster of equal size
        df['cluster_id'] = np.repeat([range(1,number_of_clusters+1)],len(df)/number_of_clusters)

        # Create an empty list
        indexes = []

        # Append the indexes from the clusters that meet the criteria
        # For this formula, clusters id must be an even number
        for i in range(0,len(df)):
            if df['cluster_id'].iloc[i]%2 == 0:
                indexes.append(i)
        cluster_sample = df.iloc[indexes]
        return(cluster_sample)
    
    except:
        print("The population cannot be divided into clusters of equal size!")
        
# Obtain a cluster sample and save it in a new variable
cluster_sample = cluster_sampling(df,5)

# Save the sample mean in a separate variable
cluster_mean = round(cluster_sample['TEMPERATURE_DIFF'].mean(),3)

# View sampled data frame
cluster_sample

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,AGE_PERCENTIL,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,...,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,WINDOW,ICU,cluster_id
385,77,1,80th,0,0.0,0.0,1.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0-2,0,2
386,77,1,80th,0,0.0,0.0,1.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2-4,0,2
387,77,1,80th,0,0.0,0.0,1.0,0.0,1.0,1.0,...,-0.959596,-0.900621,-0.806115,-0.988114,-0.918757,-0.860232,-0.959631,4-6,1,2
388,77,1,80th,0,0.0,0.0,1.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,6-12,1,2
389,77,1,80th,0,1.0,0.0,1.0,0.0,1.0,1.0,...,-0.737374,-0.373913,-0.147626,-0.436502,-0.365025,-0.452381,-0.734810,ABOVE_12,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1535,307,1,70th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0-2,0,4
1536,307,1,70th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2-4,0,4
1537,307,1,70th,1,0.0,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4-6,0,4
1538,307,1,70th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-0.888696,-0.857230,-0.957325,-0.817204,-1.000000,-1.000000,6-12,1,4
1539,307,1,70th,1,1.0,0.0,0.0,0.0,1.0,0.0,...,-0.858586,-0.588933,-0.458914,-0.699832,0.809677,-0.425397,-0.860180,ABOVE_12,1,4

In [ ]:
## - Exercici 2
Continua amb el conjunt de dades de tema esportiu i genera una mostra estratificada i una mostra utilitzant SMOTE (Synthetic Minority Oversampling Technique).

#### Muestreo aleatorio estratificado

El método de muestreo aleatorio estratificado divide la población en subgrupos (es decir, estratos) y selecciona muestras aleatorias donde cada unidad tiene la misma probabilidad de ser seleccionada.

In [12]:
# Import StratifiedShuffleSplit
from sklearn.model_selection import StratifiedShuffleSplit

# Set the split criteria
split = StratifiedShuffleSplit(n_splits=4, test_size=100)

# Perform data frame split
for x, y in split.split(df, df['AGE_ABOVE65']):
    stratified_random_sample = df.iloc[y].sort_values(by='PATIENT_VISIT_IDENTIFIER')

# View sampled data frame
stratified_random_sample

# Obtain the sample mean for each group
stratified_random_sample.groupby('AGE_ABOVE65').mean().drop(['PATIENT_VISIT_IDENTIFIER'],axis=1)

,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,HTN,IMMUNOCOMPROMISED,OTHER,...,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,ICU,cluster_id
AGE_ABOVE65,,,,,,,,,,,,,,,,,,,,,
0,0.339623,0.037736,0.000000,0.056604,0.018868,0.056604,0.132075,0.056604,0.150943,0.849057,...,-0.750700,-0.872923,-0.786585,-0.718551,-0.811978,-0.664727,-0.753032,-0.872218,0.188679,2.735849
1,0.340426,0.106383,0.021277,0.170213,0.021277,0.212766,0.063830,0.319149,0.127660,0.872340,...,-0.551282,-0.649728,-0.625070,-0.433349,-0.653221,-0.541681,-0.552361,-0.651303,0.382979,2.510638

## - Exercici 3
Continua amb el conjunt de dades de tema esportiu i genera una mostra utilitzant el mètode Reservoir sampling.